<div>
    <div class="row brand-logo">
        <img src="../../assets/logos/minority_perspectives_main.png" />
        <p>2021 Employeee Bees All Rights Reserved</p>
    </div>
    <div class="row social-icons">
        <div class="sizer">
            <div class="col-4">
                <i class="fab fa-facebook"></i>
            </div>
            <div class="col-4">
                <i class="fab fa-linkedin"></i>
            </div>
            <div class="col-4">
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>
</div>