<div>
    <h1 class="user-prompt">Diversity</h1>
    <p class="section-description">
    </p>
    <div class="survey-options-container">
        <div class="form-field-group">
            <label class="question-label">
                I am happy with my coworker interactions.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I feel that diversity is deeply valued at my company.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I am frequently able to interact with people who look similar to me at work.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                My workplace has a diverse employee population.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I frequently see people like myself reflected in my executive leadership team.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                Diversity inititatives are frequently promoted by executives at my company.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                My company's CEO frequently supports improving diversity.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>
        
        <div class="nav-button-group">
            <button type="button"(click)="moveToNextPage()" class="btn btn-warning">Next</button>
        </div>
    </div>
</div>