<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3">
                <img class="reviewer-image" [src]="reviewerImage" />
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        Name
                    </div>
                    <div class="col-12">
                        <star-rating [starType]="'svg'" [rating]="2.63"></star-rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
    </div>
    <div class="col-12 date">
        2022-09-01
    </div>
</div>
