<div>
    <h1 class="user-prompt">Retention</h1>
    <p class="section-description">
    </p>
    <div class="survey-options-container">
        <div class="form-field-group">
            <label class="question-label">
                My company strongly supports overall wellness and health.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I feel satisfied working at my company.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Very Satisfired</option>
                <option>Satisfied</option>
                <option>Somewhat Satisfied</option>
                <option>Dissatisfied</option>
                <option>Very Dissatisfied</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I find my work meaningful.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I feel just as comfortable about my job security at my company as anyone else in my role.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="nav-button-group">
            <button type="button"(click)="moveToNextPage()" class="btn btn-warning">Next</button>
        </div>
    </div>
</div>