<div>
    <h1 class="user-prompt">General Questions</h1>
    <p class="section-description">
    </p>
    <div class="survey-options-container">
        <div class="form-field-group">
            <label class="question-label">
                Write an overall review about your experience at your company (this will be anonymously dispayed on our website):
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="nav-button-group">
            <button type="button" class="btn btn-warning">Next</button>
        </div>
    </div>
</div>