<div>
    <h1 class="user-prompt">Psychological Safety</h1>
    <p class="section-description">
    </p>
    <div class="survey-options-container">
        <div class="form-field-group">
            <label class="question-label">
                I feel that I am provided just as many opportunities as anyone else to be involved in my workplace community.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I feel that my voice is heard as much as anyone else's within my team at work.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I feel that my work is critiqued with the same level of rigor as everyone else within my organization. 
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I feel that I can be authentic at work.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I feel that I am treated as fairly as my coworkers.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                People frequently wait for me to make mistakes at my workplace.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I would describe my overall experience working at my company as a positive one.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>
        
        <div class="nav-button-group">
            <button type="button"(click)="moveToNextPage()" class="btn btn-warning">Next</button>
        </div>
    </div>
</div>