.container-fluid {
    padding: 0 !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.main-content {
    padding: 30px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}