<div class="container-fluid">
    <div class="full-header full-header-large row">
        <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-8">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 logo_holder">
                    <img src="../../assets/logos/minority_perspectives_main.png" />
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10">
                    <ul>
                        <li>
                            <div class="menu-option-holder active">
                                <span>Home</span>
                            </div>
                        </li>
                        <li>
                            <div class="menu-option-holder">
                                <span>Companies</span>
                            </div>
                        </li>
                        <li>
                            <div class="menu-option-holder">
                                <span>Stories</span>
                            </div>
                        </li>
                        <li>
                            <div class="menu-option-holder">
                                <span>About Us</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 col-xl-4 col-md-4 button-holder">
            <button type="button" class="btn btn-light">Take A Survey!</button>
        </div>
    </div>
    <div class="full-header full-header-small row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-9 col-9">
            <div class="small-screen-left-side">
                <div>
                    <img src="../../assets/logos/minority_perspectives_main.png" />
                </div>
                <div>
                    <p>
                        EMPLOYEE BEES
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-3 col-3 menu-expand">
            <i class="fas fa-bars fa-2x" style="color: white" (click)="basicCollapse.toggle()"
            [attr.aria-expanded]="!basicCollapse.collapsed"
            aria-controls="collapseExample"></i>
            
        </div>
    </div>
    <div class="menu-options-container" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
        <div class="menu-options">
            <ul style="    list-style: none;
            text-align: center;">
                <li class="menu-nav">
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li class="menu-nav active">
                    <a routerLink="/companies">
                        Companies
                    </a>
                </li>
                <li class="menu-nav">
                    Stories
                </li>
                <li class="menu-nav">
                    About Us
                </li>
                <li class="menu-nav">
                    <a routerLink="/take-a-survey">
                        Take a Survey!
                    </a>
                </li>
            </ul>
        </div>
      </div>
</div>