<div>
    <h1 class="user-prompt">Upward Mobility</h1>
    <p class="section-description">
    </p>
    <div class="survey-options-container">
        <div class="form-field-group">
            <label class="question-label">
                I feel that I am considered just as fairly for promotions as anyone else in my role.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I feel getting promoted is my top priority.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                My manager supports my career development just as much as anyone else. 
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                My company provides me with the same opportunities for growth as anyone else.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                My company provides a general timeline for promotions.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I have had the following number of pormotions at my company:
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5+</option>
            </select>
        </div>

        <div class="nav-button-group">
            <button type="button"(click)="moveToNextPage()" class="btn btn-warning">Next</button>
        </div>
    </div>
</div>