<div>
    <h1 class="user-prompt">Select a company to begin</h1>
    <p class="section-description">
        Specify which company you would like to take this survey for.
    </p>
    <div class="survey-options-container">
        <select class="custom-select-box">
            <option>
                Apple
            </option>
            <option>
                Microsoft
            </option>
            <option>
                Meta
            </option>
            <option>
                Oracle
            </option>
            <option>
                PepsiCo
            </option>
            <option>
                CocaCola
            </option>
            <option>
                3M
            </option>
        </select>
        <div class="nav-button-group">
            <button type="button"(click)="moveToNextPage()" class="btn btn-warning">Next</button>
        </div>
    </div>
</div>