<div>
    <h1 class="user-prompt">Recruitment</h1>
    <p class="section-description">
    </p>
    <div class="survey-options-container">
        <div class="form-field-group">
            <label class="question-label">
                My company recruits a diverse group of potential employees. 
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                My experience during the application process was positive.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Very Satisfired</option>
                <option>Satisfied</option>
                <option>Somewhat Satisfied</option>
                <option>Dissatisfied</option>
                <option>Very Dissatisfied</option>
            </select>
        </div>

        <div class="form-field-group">
            <label class="question-label">
                I felt as prepared as anyone else for the position I applied for.
            </label>
            <select class="custom-select-box" required>
                <option selected hidden>Select a response</option>
                <option>Strongly Agree</option>
                <option>Agree</option>
                <option>Neutral</option>
                <option>Disagree</option>
                <option>Strongly Disagree</option>
            </select>
        </div>

        <div class="nav-button-group">
            <button type="button"(click)="moveToNextPage()" class="btn btn-warning">Next</button>
        </div>
    </div>
</div>