<h1 class="page-header">Take A <span style="color: #F8AD22">Survey!</span></h1>
<div class="row action-content">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
        <img src="assets/background_images/illustration2.png">
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
        <p class="start-survey-prompt">
            Only 4 minutes. Share your experience. Join the hive.
        </p>
        <!-- This should link to the route for selecting the company -->
        <button class="start-survey" (click)="moveToNextPage()">Start Now</button>
    </div>
</div>